<h1 id="tableLabel">Weather forecast</h1>

<div>
  Select Country:
  <select (change)="getAllCitiesByCountries()"
          [(ngModel)]="countryCode" class="form-control">
    <option disabled>Select Country</option>
    <option value="">Choose Country</option>
    <option *ngFor="let country of countries" value={{country.code}}> {{country.name}} </option>
  </select>
</div>
<div *ngIf="countryCode != ''">
  Select City:
<select (change)="getWeatherForecast()"
        [(ngModel)]="cityName" class="form-control">
    <option disabled>Select City</option>
    <option value="">Choose City</option>
    <option *ngFor="let city of cities">{{city.name}}</option>
  </select>
</div>

<table *ngIf="weatherForecast">
  <tr>
    <th>Humidity</th>
    <td>{{weatherForecast.humidity}}</td>
  </tr>
  <tr>
    <th>Latitude</th>
    <td>{{weatherForecast.latitude}}</td>
  </tr>
  <tr>
    <th>Longitude</th>
    <td>{{weatherForecast.longitude}}</td>
  </tr>
  <tr>
    <th>Pressure</th>
    <td>{{weatherForecast.pressure}}</td>
  </tr>
  <tr>
    <th>Visibility</th>
    <td>{{weatherForecast.visibility}}</td>
  </tr>
  <tr>
    <th>Temp. (C)</th>
    <td>{{ weatherForecast.temperatureC }}</td>
  </tr>
  <tr>
    <th>Temp. (F)</th>
    <td>{{ weatherForecast.temperatureF }}</td>
  </tr>
  <tr>
    <th>Wind</th>
    <td>Degree:{{ weatherForecast.wind.degree }}, Speed:{{ weatherForecast.wind.speed }}</td>
  </tr>
  <tr>
    <th colspan="2">Weather</th>
  </tr>
  <tr *ngFor="let w of weatherForecast.weather"><td colspan="2"><b>Desc:</b>{{w.description}},<b>Main:</b>{{w.main}}</td></tr>
</table>
